html,
body {
  height: 100%;
  width: 100%;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  height: 100%;
  width: 100%;
  margin: 20;
}

.comments {
  font-size: 1em;
  margin: 1em;
  text-align: left;
  width: 80%;
}

.comment {
  display: flex;
  align-items: flex-start; /* Align items to the start of the flex container */
  justify-content: space-between; /* Put space between items */
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
}

.card {
  padding: 1em;
  margin: 1em;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1em;
  height: 30px;
  /* width: 100%; */
}

.input {
  padding: 0.5em;
  margin: 0.5em;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1em;
  /* width: 100%; */
}

.pagetitle {
  font-size: 2em;
  /* margin: 1em;   */
  vertical-align: top;
}

.text {
  font-size: 1em;
  margin: 1em;
  text-align: left;
}

.mainpost {
  font-size: 1em;
  margin: 1em;
  text-align: left;
  width: 50%;
}

.vote-icons {
  display: flex;
  flex-direction: column; /* Stack buttons vertically */
}
